<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
   <sitecore>
     <pipelines>
       <renderContentEditor>
         <processor patch:before="*[1]" type="TagField.Pipelines.InjectScripts, TagField" />
       </renderContentEditor>
     </pipelines>
     <settings>
       <setting name="CustomContentEditorJavascript" value="/sitecore modules/shell/tagfield/TagField.js|/sitecore modules/shell/tagfield/chosen.jquery.min.js"/>
       <setting name="CustomContentEditorStylesheets" value="/sitecore modules/shell/tagfield/chosen.min.css|/sitecore modules/shell/tagfield/tagfield.css"/>
     </settings>
   </sitecore>
</configuration>